@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  width: 40%;
  gap: 15px;
}
.container > div {
  display: flex;
  flex-direction: column;
  gap: 10px
}
.container > div > input{
    height: 45px;
    border-radius: 10px;
    padding: 5px 15px;

    /* border:2px solid black */
}
label{
    margin-left: 3px;
    margin-bottom: 5px;
}
.container button{
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: white;
}
.success_window{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: green;
    padding:50px;
    font-size: 24px;
}

.success_window button{
    /* width: 50px; */
    font-size: 18px;
    padding:5px 20px
}
